
#parent{
  border: 1px solid black;
  display:-webkit-box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  /* -webkit-box-direction: reverse; */
  /*width: 800px;
  -webkit-box-pack: center; */
}

/* Make all children space equally */
#parent> div{
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}

#child1{
  border: 1px solid green;
  background: yellow;
  padding: 20px;
  margin: 10px;
  /* -webkit-box-ordinal-group: 2; */
}

#child2{
  border: 1px solid green;
  background: yellow;
  padding: 20px;
  margin: 10px;
  /* -webkit-box-ordinal-group: 1; */
}

#child3{
  border: 1px solid green;
  background: yellow;
  padding: 20px;
  margin: 10px;
  /* -webkit-box-ordinal-group: 4; */
  /* -webkit-box-flex: 1; */
}

#child4{
  border: 1px solid green;
  background: yellow;
  padding: 20px;
  margin: 10px;
  /* -webkit-box-ordinal-group: 3; */
}

